body{
    min-height: 600px;
    background-color: #000;
    color: #fff;
}
h1,h2,h3,h4,h5,h6,p,li{
    color: #fff;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: #fff;
}
footer{
    text-align: center;
    color: #ccc;
    border-top: 1px solid #fff;
    padding: 10px;
    margin-top: 300px;
}
#button-1-div, #button-2-div, #button-3-div{
    float: left;
    width: 10%;
    text-align: center;
}
button{
    padding: 8px 20px;
    background-color: green;
    color: #fff;
    border-radius: 5px;
    border: none;
}
